body {
  font-family: 'Tahoma', sans-serif;
  background-color: #fff;
  color: #222;
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  color: white;
  padding: 30px;
}

header a {
  color: #00f2ea;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.posts {
  padding: 30px;
}

.post {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  padding: 15px;
}

.post img {
  max-width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 40px;
}
